<div id="OrderFormSection" data-section-id="{{ section.id }}" data-section-type="order-form-template" data-sort-enabled="{{ section.settings.sort_enable }}" data-tags-enabled="{{ section.settings.tags_enable }}">
  <div class="section-header section-header--breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <header class="section-header section-header--large">
    <h1 class="section-header__title">{{ collection.title }}</h1>
  </header>

  {% if collection.description != blank %}
    <div class="rte rte--header">
      {{ collection.description }}
    </div>
    <hr class="hr--clear hr--small">
  {% endif %}

  {% if collection.products.size == 0 %}
    <p>This order form collection is empty. <a href="/admin/collections/{{ collection.id }}" target="_blank">Add a product</a> to the collection.</p>
  {% else %}
    <div id="OrderForm">

      {% for product in collection.products %}
        {% include 'order-list-item' with product %}
        {% if forloop.last == false %}<hr>{% endif %}
      {% endfor %}

      <button class="btn btn--full hide" id="CheckOut">
        <span>{{ 'cart.general.checkout' | t }} <span id="OrderFormProgress"></span></span>
      </button>

    </div>
  {% endif %}

</div>
<script type="application/json" id="ProductsJson">
  {{ collection.products | json }}
</script>
